/*PIE DE PAGINA*/
footer{
    padding: 20px;
    background-color: red;
    background-image: linear-gradient(red,rgb(123, 2, 2));
    .footer {
        display: flex;
        height: 70px;
    }
    .face{
        height: 46px;
        width: 46px;
    }
    .ig{
        height: 50px;
        width: 50px;
    }
    .contacto{
        height: 42px;
        width: 42px;
    }
    }