*{
    margin: 0;
    padding: 0;
}

/*CUERPO DEL SITIO Y TEXTOS*/

body{
    background-color: blanchedalmond;
}

section{
h1{
    font-size: 35px;
    padding: 20px;
    text-align: center;
    letter-spacing: 8px;
}

h2{
        font-size: 30px;
        padding: 20px;
        text-align: center;
        letter-spacing: 8px;
}

p{
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 20px;
    margin-bottom: 50px;
}
}