*{
    margin: 0;
    padding: 0;
}

/*CUERPO DEL SITIO Y TEXTOS*/

body{
    margin: 0;
    background-color: blanchedalmond;
}

section{
    h1{
        font-size: 35px;
        padding: 20px;
        text-align: center;
        letter-spacing: 8px;
    }

    h2{
        font-size: 30px;
        padding: 20px;
        text-align: center;
        letter-spacing: 8px;
    }

    p{
        text-align: left;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 3px;
        word-spacing: 5px;
        margin: 20px;
        margin-bottom: 50px;
    }
}

article{
    h2{
        font-size: 30px;
        padding: 20px;
        text-align: center;
        letter-spacing: 8px;
    }
    .estiloParrafo{
        text-align: left;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 3px;
        word-spacing: 5px;
        margin: 20px;
        margin-bottom: 50px;
    }
}

.mapa iframe{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin-top: 0px;
    margin-bottom: 0px;
    justify-items: center;
    width: 550px;
    height: 450px;
}