@import "_generales.scss";
@import "_navbar.scss";
@import "_footer.scss";
@import "_mixin.scss";
/*GRID EN PAGINA DE INICIO Y RECORRIDOS*/
.contenedor{
    width: 100%;
    margin: auto;
}
.imagen{
    margin: 5px;
}
img{
    @include size (100%, 100%)
}
.galeria .contenedor{
    display: grid;
}
.visitas{
    display: grid;
    grid-template-columns: repeat(1);
}
.nosotros .contenedorNosotros{
    display: grid;
}
@media(min-width:320px){
    .galeria .contenedor{
        grid-template-columns: repeat(1,100%);
    }
    .recorridos .contenedorRec {
        grid-template-columns: repeat(1, 100%);
    }
    .responsiveVisitas .contenedorVisitas{
        grid-template-columns: repeat(1, 100%);
    }
    .nosotros .contenedorNosotros{
        grid-template-columns: repeat(1, 100%);
    }
    .visitas{
        width: 100%;
    }
    }

@media(min-width:768px){
    .galeria .contenedor{
        grid-template-columns: repeat(2,50%);
    }
    .recorridos .contenedorRec{
        grid-template-columns: repeat(2, 50%);
    }
    .visitas{
        width: 100%;
    }
    }

@media(min-width:1024px){
    .galeria .contenedor{
        grid-template-columns: repeat(2,50%);
    }
    .recorridos .contenedorRec {
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25%;
    }
    .visitas{
    width: 100%;
    }
    }

@media(min-width:1200px){
        .galeria .contenedor{
        grid-template-columns: repeat(2,50%);
    }
    .recorridos .contenedorRec {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}
/** Estilo de formulario extraido de bootstrap para la pagina contacto **/
.formulario {
    margin: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
    padding: 20px;
}
.formularioDos {
        margin-bottom: 25px;
        font-size: 20px;
        letter-spacing: 3px;
        word-spacing: 5px;
        padding: 20px;
}
/*Estilo imagenes en pagina de nosotros y visitas**/
.visitas:hover{
    width: 700px;
    height: 550px;
}
.visitas{
    width: 600px;
    height: 450px;
    border-radius: 10%;
    margin: auto;
    margin-bottom: 50px;
    transition: all 2s;
}

/*Estilo imagenes en pagina recorrido**/
.contenedorRec{
    margin: auto;
    width: 100%;
    margin-top: none;
    margin-block-start: none;
    .foto{
    margin: 5px;
}
}
.recorridos .contenedorRec{
    display: grid;
}
ol li{
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 20px;
    margin-bottom: 50px;
}
.mapa{
    margin-top: 40px;
    margin-bottom: 40px;
}